In [1]:
import re
import requests as req
from bs4 import BeautifulSoup as bs
import pandas as pd
from time import sleep
import getpass
from selenium import webdriver
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

In [2]:
url = "https://en.aruodas.lt/kainu-statistika/"
atsakas = req.get(url)

if(atsakas.status_code == 200):
    print("Puslapis yra prieinamas")
else:
    print("Puslapis yra neprieinamas, error code: {}".format(atsakas.status_code))

Puslapis yra prieinamas

In [3]:
objektas = bs(atsakas.content, "html.parser")
atsakas.content[:50]

b'<!DOCTYPE html>\n<html>\n<head>\n    <meta http-equiv'

In [4]:
email = input()
pswd = getpass.getpass('Password:')

 murkuzas1@gmail.com
Password: ········

In [5]:
def OpenAndPrepareSite():
    url = "https://en.aruodas.lt/kainu-statistika/"
    driver = webdriver.Chrome(r"C:/Users/Paulius/Downloads/chromedriver_win32 (1)/chromedriver.exe")
    driver.get(url)
    driver.find_element_by_id('onetrust-accept-btn-handler').click()
    sleep(1)
    driver.find_element(By.CLASS_NAME, 'submit').click()
    sleep(1)
    username = driver.find_element(By.ID, "userName")
    username.send_keys(email)
    password = driver.find_element(By.ID, "password")
    password.send_keys(pswd)
    driver.find_element_by_id('loginAruodas').click()
    return driver

In [15]:
def GetPropertyTypeTimeseries(propertyType, driver):
    elementDropdown = driver.find_element_by_name("type[0]")
    select = Select(elementDropdown)
    select.select_by_visible_text(propertyType)
    sleep(0.1)

    globalDataFrame = pd.DataFrame()
    regions = ["Vilnius","Kaunas","Klaipėda","Šiauliai","Panevėžys","Alytus","Palanga"]
    for region in regions:
        elementDropdown = driver.find_element_by_name("region[0]")
        select = Select(elementDropdown)
        select.select_by_visible_text(region)
        sleep(0.5)

        elementDropdown = driver.find_element_by_name("quartal[0]")
        select = Select(elementDropdown)
        allDistricts = [item.text for item in select.options]
        sleep(0.5)
        for i in range(1,len(allDistricts)):
            districtName = allDistricts[i]
            elementDropdown = driver.find_element_by_name("quartal[0]")
            select = Select(elementDropdown)
            select.select_by_visible_text(districtName)
            sleep(0.1)

            #set date period
            elementDropdown = driver.find_element_by_name("statsyearfrom")
            select = Select(elementDropdown)
            select.select_by_visible_text("2017")
            sleep(0.1)
            elementDropdown = driver.find_element_by_name("statsmonthfrom")
            select = Select(elementDropdown)
            select.select_by_visible_text("January")
            
            driver.find_element(By.CLASS_NAME, 'submit').click()
            sleep(2.5)

            dataTable = GetAllTableElements(driver)
            if(type(dataTable) is pd.core.frame.DataFrame):
                dataTable["Region"] = region
                dataTable["District"] = districtName
                globalDataFrame = pd.concat( [globalDataFrame, dataTable])
    return globalDataFrame

In [12]:
def GetAllTableElements(driver):
    try:
        page_source = driver.page_source
    except:
        print("Empty table")
        return None
    soup = bs(page_source, 'html.parser')
    table = soup.find("div", {"id" : "price-statistics-table"})
    #table = table.find('table')
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        cols = [ele.text.strip() for ele in cols]
        data.append([ele for ele in cols if ele])
    
    col1 = [item[0] for item in data]
    col2 = [item[1] for item in data]
    if(len(col1) == 0 or len(col2) == 0):
        print("Empty list")
        return None
    dataTable = pd.DataFrame(zip(col1[1:],col2[1:]), columns = [col1[0],"Price"])
    return dataTable

In [10]:
propertyType = "Flats for sale"
tableName = "tidal-nova-262216.housingPrices.FlatsForSale"
CrawlData(propertyType, tableName)

NameError: name 'driver' is not defined

In [18]:
propertyType = "Flats for rent"
tableName = "tidal-nova-262216.housingPrices.FlatsForRent"
CrawlData(propertyType, tableName)

(68, 4)
(74, 4)
(104, 4)
(167, 4)
(199, 4)
(267, 4)
Empty table
(267, 4)
(276, 4)
(280, 4)
(312, 4)
(315, 4)
(347, 4)
(415, 4)
(453, 4)
(458, 4)
(461, 4)
(478, 4)
(531, 4)
(533, 4)
Empty table
(533, 4)
(601, 4)
(669, 4)
(678, 4)
(718, 4)
(786, 4)
(798, 4)
Empty table
(798, 4)
(866, 4)
(934, 4)
(944, 4)
(996, 4)
Empty table
(996, 4)
(1064, 4)
Empty table
(1064, 4)
(1132, 4)
(1198, 4)
Empty table
(1198, 4)
(1211, 4)
(1224, 4)
(1292, 4)
(1310, 4)
(1347, 4)
(1415, 4)
(1468, 4)
(1494, 4)
(1560, 4)
(1603, 4)
(1671, 4)
(1739, 4)
(1807, 4)
(1875, 4)
(1890, 4)
(1919, 4)
(1935, 4)
(2003, 4)
Empty table
(2003, 4)
(2044, 4)
(2094, 4)
(2148, 4)
(2216, 4)
(2264, 4)
(2276, 4)
(2331, 4)
(2399, 4)
(2467, 4)
(2526, 4)
(2534, 4)
(2600, 4)
(2624, 4)
(2692, 4)
(2760, 4)
(2828, 4)
(2887, 4)
(2955, 4)
(2960, 4)
(2998, 4)
(3000, 4)
(3019, 4)
(3071, 4)
(3073, 4)
(3123, 4)
(3129, 4)
(3173, 4)
(3212, 4)
(3280, 4)
(3348, 4)
(3357, 4)
(3373, 4)
(3441, 4)
(3481, 4)
(3549, 4)
(3616, 4)
(3650, 4)
(3706, 4)
(3762, 4)
(3809, 4)
(3877, 4)
(3929, 4)
(3963, 4)
(4023, 4)
(4037, 4)
(4076, 4)
(4136, 4)
(4182, 4)
(4242, 4)
(4274, 4)
(4312, 4)
(4349, 4)
(4357, 4)
(4390, 4)
Empty table
(4390, 4)
(4430, 4)
(4497, 4)
(4523, 4)
(4525, 4)
(4571, 4)
(4580, 4)
(4623, 4)
(4644, 4)
(4674, 4)
(4733, 4)
(4780, 4)
(4823, 4)
(4878, 4)
Empty table
(4878, 4)
Empty table
(4878, 4)
(4946, 4)
(5011, 4)
(5054, 4)
(5073, 4)
(5131, 4)
(5136, 4)
Empty table
(5136, 4)
Empty list
(5136, 4)
(5158, 4)
Empty table
(5158, 4)
(5167, 4)
(5204, 4)
(5271, 4)
(5318, 4)
(5360, 4)
(5389, 4)
(5422, 4)
Empty list
(5422, 4)
(5424, 4)
(5446, 4)
Empty list
(5446, 4)
(5465, 4)
Empty table
(5465, 4)
(5494, 4)
(5509, 4)
Empty list
(5509, 4)
Empty table
(5509, 4)
(5524, 4)
(5547, 4)
(5577, 4)
(5610, 4)
(5626, 4)
(5644, 4)
done

In [20]:
propertyType = "Houses for sale"
tableName = "tidal-nova-262216.housingPrices.HousesForSale"
CrawlData(propertyType, tableName)

(68, 4)
(107, 4)
(175, 4)
(243, 4)
(311, 4)
(378, 4)
(416, 4)
(469, 4)
(514, 4)
(540, 4)
(608, 4)
(666, 4)
(722, 4)
(755, 4)
(799, 4)
(824, 4)
(883, 4)
(951, 4)
(962, 4)
(990, 4)
(1052, 4)
(1109, 4)
(1169, 4)
(1237, 4)
(1272, 4)
(1291, 4)
(1322, 4)
(1373, 4)
(1435, 4)
(1496, 4)
(1538, 4)
(1605, 4)
(1660, 4)
(1719, 4)
(1787, 4)
(1855, 4)
(1896, 4)
(1962, 4)
(2030, 4)
(2072, 4)
Empty table
(2072, 4)
(2140, 4)
(2208, 4)
(2274, 4)
(2342, 4)
(2410, 4)
(2437, 4)
(2505, 4)
(2560, 4)
(2572, 4)
(2634, 4)
(2702, 4)
(2770, 4)
(2808, 4)
(2863, 4)
(2888, 4)
(2956, 4)
(3024, 4)
(3065, 4)
(3077, 4)
(3145, 4)
(3197, 4)
(3242, 4)
(3272, 4)
(3340, 4)
(3408, 4)
(3464, 4)
(3532, 4)
(3575, 4)
(3642, 4)
(3710, 4)
(3750, 4)
(3817, 4)
(3855, 4)
(3918, 4)
(3979, 4)
(4028, 4)
(4096, 4)
(4164, 4)
(4173, 4)
(4223, 4)
(4276, 4)
(4344, 4)
(4402, 4)
(4426, 4)
(4494, 4)
(4562, 4)
(4628, 4)
(4696, 4)
(4764, 4)
(4832, 4)
(4900, 4)
(4948, 4)
(5000, 4)
(5003, 4)
(5025, 4)
(5091, 4)
(5093, 4)
(5159, 4)
(5186, 4)
(5246, 4)
Empty table
(5246, 4)
(5314, 4)
(5382, 4)
(5447, 4)
(5513, 4)
(5525, 4)
(5593, 4)
(5658, 4)
(5694, 4)
(5735, 4)
(5763, 4)
(5800, 4)
(5848, 4)
(5851, 4)
(5893, 4)
(5902, 4)
(5970, 4)
(6036, 4)
Empty table
(6036, 4)
(6061, 4)
(6097, 4)
(6100, 4)
(6127, 4)
(6164, 4)
(6232, 4)
(6300, 4)
(6330, 4)
(6367, 4)
(6426, 4)
(6489, 4)
(6557, 4)
(6625, 4)
(6693, 4)
(6761, 4)
(6820, 4)
(6862, 4)
(6924, 4)
(6992, 4)
(7030, 4)
(7056, 4)
(7124, 4)
(7167, 4)
(7207, 4)
(7275, 4)
(7323, 4)
(7389, 4)
(7427, 4)
(7450, 4)
(7508, 4)
(7526, 4)
(7576, 4)
(7611, 4)
(7676, 4)
(7725, 4)
(7793, 4)
(7838, 4)
(7853, 4)
(7921, 4)
done

In [21]:
propertyType = "Houses for rent"
tableName = "tidal-nova-262216.housingPrices.HousesForRent"
CrawlData(propertyType, tableName)

(68, 4)
(76, 4)
(84, 4)
(123, 4)
(163, 4)
(198, 4)
Empty table
(198, 4)
(204, 4)
(228, 4)
Empty table
(228, 4)
(246, 4)
(252, 4)
(268, 4)
(273, 4)
(282, 4)
Empty table
(282, 4)
(314, 4)
(322, 4)
(325, 4)
Empty table
(325, 4)
(363, 4)
(374, 4)
(377, 4)
(418, 4)
Empty table
(418, 4)
Empty list
(418, 4)
Empty table
(418, 4)
(438, 4)
(486, 4)
(497, 4)
(503, 4)
Empty table
(503, 4)
(534, 4)
Empty table
(534, 4)
(551, 4)
(568, 4)
(570, 4)
(574, 4)
(601, 4)
(619, 4)
Empty table
(619, 4)
(674, 4)
(711, 4)
(731, 4)
(746, 4)
(775, 4)
(785, 4)
(831, 4)
(837, 4)
Empty list
(837, 4)
(871, 4)
(910, 4)
(930, 4)
(946, 4)
(956, 4)
(958, 4)
(1000, 4)
(1017, 4)
(1019, 4)
Empty table
(1019, 4)
(1048, 4)
(1078, 4)
(1080, 4)
(1085, 4)
(1139, 4)
(1179, 4)
(1184, 4)
(1207, 4)
(1213, 4)
(1237, 4)
(1270, 4)
(1280, 4)
(1304, 4)
(1312, 4)
(1314, 4)
(1326, 4)
Empty table
(1326, 4)
(1332, 4)
(1348, 4)
Empty list
(1348, 4)
(1353, 4)
Empty table
(1353, 4)
(1384, 4)
(1404, 4)
(1406, 4)
(1438, 4)
(1457, 4)
(1473, 4)
(1504, 4)
(1540, 4)
(1580, 4)
(1598, 4)
(1601, 4)
Empty table
(1601, 4)
(1605, 4)
Empty table
(1605, 4)
(1611, 4)
Empty table
(1611, 4)
(1636, 4)
(1641, 4)
(1651, 4)
Empty table
(1651, 4)
(1680, 4)
(1720, 4)
(1726, 4)
(1729, 4)
(1732, 4)
(1745, 4)
(1748, 4)
(1751, 4)
Empty list
(1751, 4)
Empty table
(1751, 4)
(1790, 4)
Empty table
(1790, 4)
Empty table
(1790, 4)
(1793, 4)
Empty table
(1793, 4)
(1825, 4)
(1854, 4)
Empty table
(1854, 4)
(1858, 4)
Empty table
(1858, 4)
Empty table
(1858, 4)
Empty table
(1858, 4)
Empty table
(1858, 4)
(1871, 4)
(1892, 4)
Empty table
(1892, 4)
Empty table
(1892, 4)
(1896, 4)
(1899, 4)
(1915, 4)
(1919, 4)
Empty list
(1919, 4)
Empty table
(1919, 4)
Empty table
(1919, 4)
Empty table
(1919, 4)
(1929, 4)
(1951, 4)
Empty table
(1951, 4)
Empty table
(1951, 4)
(1957, 4)
Empty table
(1957, 4)
Empty list
(1957, 4)
(1964, 4)
Empty table
(1964, 4)
Empty table
(1964, 4)
Empty table
(1964, 4)
Empty table
(1964, 4)
Empty table
(1964, 4)
Empty table
(1964, 4)
Empty table
(1964, 4)
Empty table
(1964, 4)
Empty list
(1964, 4)
Empty table
(1964, 4)
(1972, 4)
Empty table
(1972, 4)
(1974, 4)
(1978, 4)
done

In [13]:
def CrawlData(propertyType, tableName):
    %run SaveRealEstatePrices.ipynb
    driver = OpenAndPrepareSite()
    propertyType = propertyType
    dataTable =  GetPropertyTypeTimeseries(propertyType, driver)
    SaveHousingPrices(dataTable, tableName)

In [110]:
#dataTableFlatsForSale.iloc[0:100]
dataTableFlatsForSale.shape
#for col in dataTableFlatsForSale.columns:
#    print(col)
#dataTableFlatsForSale = dataTableFlatsForSale.reset_index()
#dataTableFlatsForSale.head
#dataTableFlatsForSale.rename(columns = {'Price for m²':'Price'}, inplace = True)

(8371, 5)