In [4]:
import os
from google.cloud import bigquery

In [23]:
#os.getcwd()
#os.chdir('..')

'C:\\Users\\Paulius\\Documents\\GitHub\\HousingMarketAnalysis'

In [6]:
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = "../tidal-nova-262216-a5a79d487ed9.json"
client = bigquery.Client()

In [20]:
#sqlQuery = "SELECT * FROM `tidal-nova-262216.city_data.cities` LIMIT 10"
#queryJob = client.query(sqlQuery)
#for row in queryJob.result():
#    print(row.city_name)
#    print(row[0])

In [1]:
def SaveHousingPrices(dataTableFlatsForSale, tableName):
    previousIndex = 0
    rowSplitChunk = 100
    howManyChunks = round(dataTableFlatsForSale.shape[0] / rowSplitChunk)
    for i in range(1,howManyChunks):
        df = dataTableFlatsForSale.iloc[previousIndex*rowSplitChunk:i*rowSplitChunk,:]
        previousIndex = i
        SaveHousingPricesSQL(df, tableName)     
    df = dataTableFlatsForSale.iloc[(howManyChunks-1)*rowSplitChunk:dataTableFlatsForSale.shape[0],:]
    print("done")
    SaveHousingPricesSQL(df, tableName)

       
        
def SaveHousingPricesSQL(df, tableName):
    sqlQuery = "INSERT INTO `{}` (Date, City, District, Price) VALUES ".format(tableName)
    values = ""
    for row in df.itertuples():
        values +=  "('{}', '{}', '{}', {}), ".format(row.Date+"-01", row.Region, row.District, row.Price)
    
    sqlQuery += values[0:-2]
    queryJob = client.query(sqlQuery)
    queryJob.result()